.header {
  padding: 20px;
  font-weight: 400;
  background-color: #1aab09b8;
  color: #fff;
  margin: 0 auto 30px auto;
  user-select: none;
  box-shadow: 5px 5px 3px 3px #bdbcbcd6;
  border-radius: 8px 0px;
  text-align: center;
}
